@use './variables.scss' as v;

@mixin button($bg-color, $txt-color) {
    border: none;
    display: block;
    background-color: $bg-color;
    color: $txt-color;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;

    &:hover {
      background-color: darken($bg-color, 10%);
    }
}

@mixin input() {
    display: block;
    box-sizing: border-box;
    width: 80%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    padding: 0 0 0 10px;
    margin: 10px 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
    transition: 0.2s ease;

    &:focus {
    transform: scale(1.031);
    }
}
